@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

/* responsive */
main {
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* if screen width >= 768 px, make the main skinnier so it's easier to read*/
@media only screen and (min-width: 768px) {
  main {
    max-width: 60% !important;
  }
}

/* Styling classes */
.flex {
  display: flex;
}

/* Gameboard */
* {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.1rem;
}

#gameboard-table {
  border-collapse: collpase;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

#gameboard-table td {
  border: 2px solid black;
  font-size: 4rem;
  width: 130px;
  height: 130px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.player--active {
  background: yellow;
}

/* Player display section */
#display--players {
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

input[type=text] {
  padding: 3px 6px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  background-color: white;
  border: 2px solid #23222c;
  color: #23222c;
  transition-duration: 0.4s;
  font-size: 1.5rem;
  cursor: pointer;

  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: #23222c;
  border: 2px solid #eee;
  color: #eee;
}

#buttons {
  justify-content: center;
  gap: 2rem;
}
