/* responsive */
main {
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* if screen width >= 768 px, make the main skinnier so it's easier to read*/
@media only screen and (min-width: 768px) {
  main {
    max-width: 60% !important;
  }
}

#gameboard-table {
  border-collapse: collpase;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

#gameboard-table td {
  border: 1px solid black;
  font-size: 4rem;
  width: 200px;
  height: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* #gameboard-table td div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  /* width: 200px; */
  /* height: 200px; */
  /* font-size: 2rem;
} */

.player--active {
  background: yellow;
}

